.container {}

.toggle_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  border: 1px solid rgb(214, 218, 222, 1);
  border-radius: 6px;
  padding: 1px 5px;
  background-size: 50px;

  &>.toggle {
    position: absolute;
    background-color: #5dc944;
    height: 36px;
    width: 80px;
    background-color: #5dc944;
    border-radius: 6px;
    z-index: -1;
    transition: .3s;
  }
}