@import '../../utils/styles/variables.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 220px;
}

.select {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border: 1px solid $BORDER_COLOR;
  border-radius: 4px;
  color: rgb(79, 91, 103);
  padding-left: 10px;
}

.selected_block {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.options {
  position: absolute;
  top: 45px;
  width: 100%;
  border: 1px solid $BORDER_COLOR;
  border-radius: 4px;

  background-color: #fff;
}

.option {
  height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid $BORDER_COLOR;
}



.checkbox_container {
  display: flex;
  gap: 8px;
  align-items: center;

  // border: 1px solid #000;

  &>label {
    position: relative;
    display: flex;
    align-items: center;

    margin: 0;
    cursor: pointer;
    color: rgb(150, 150, 150);
    ;
    font-size: 14px;

    &::before {
      content: attr(data-checked);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: absolute;
      left: -22px;
      height: 14px;
      width: 14px;
      border-radius: 2px;
      background-color: rgb(112, 189, 133);
    }
  }

  &>input[type=checkbox] {
    height: min-content;
    cursor: pointer;
    width: 14px;
    opacity: 0.4;
  }
}