@import '../../utils/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 420px;
  border: 1px solid $BORDER_COLOR;
  border-radius: 12px;
  padding: 24px;
  gap: 24px;


  &>img {
    max-height: 300px;
    height: 100%;
    min-height: 200px;
    object-fit: cover;
  }
}

.company_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.company_logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #d7e8b0;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &>h3 {
    width: 100%;
    margin-bottom: 10px;
  }

  &>h4 {
    flex-grow: 1;
    font-size: 12px;
    font-weight: 400;
  }
}

.category {

  font-weight: 400;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  border: 1px solid $BORDER_COLOR;
  border-radius: 36px;
}

.favorit {
  color: grey;
  height: 20px;
  width: 20px;
  background-image: url('../../utils/icons/favorite_icon.svg');
  background-size:contain;
  background-repeat: no-repeat;
  ;
}