@import '../../utils/styles/variables.scss';

.contact-us {
  &>h2 {
    font-size: $TITLE_FONT_SIZE;
    margin-bottom: 10px;
  }

  &>h4 {
    font-size: 20px;
    font-weight: 500;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 570px;
    width: 510px;
    margin-top: 20px;

    &>button {
    @extend %dashboard-buttons-styles;
    width: 100%;
    }
  }

  &__personal-data {
    display: flex;
    gap: 20px
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;

    &>[type="tel"],
    [type="email"] {
      width: 100%;
    }

    &>label {
      cursor: pointer;
      margin-bottom: 12px;
    }

    &>input {
      height: 50px;
      width: 245px;
      padding-left: 20px;
      font-size: 16px;
      border: 1px solid $BORDER_COLOR;

      &:focus {
        border-color: rgb(195, 195, 195);
        outline: none;
      }

      &--error {
        border: 1px solid #f28585;
      }
    }

    &>textarea {
      resize: none;
      height: 120px;
      width: 510px;
      border: 1px solid $BORDER_COLOR;
      padding: 5px;


      &:focus {
        border-color: rgb(195, 195, 195);
        outline: none;
      }
    }
  }
}