.card-gallery {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  min-height: 600px;

  &::-webkit-scrollbar {
    width: 0em;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__cards-wrapper {
    display: flex;
    overflow: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
    }

  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}