.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 10px !important
  }
}

.cards_wrapper {
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}