.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  min-height: 500px;
  

  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.cards_wrapper {
  // display: flex;
  overflow: auto;

 

  &::-webkit-scrollbar {
    width: 0 !important
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}